h1{
    color: rgb(7, 0, 71);
    text-align: center;
}
div{
    text-align: center;
}
button{
    margin: 15px ;
    padding: 10px ;
    background-color: #ff7300;
    font-size: large;
    border-radius: 10px;
}
#quote{
    text-align: center;
    padding: 50px ;
    font-size: 20px;
    font-family:cursive ;
}